USE [master]
GO
/****** Object:  Database [DenizKirliligiIzlemeSistemi]    Script Date: 3.05.2025 08:35:08 ******/
CREATE DATABASE [DenizKirliligiIzlemeSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DenizKirliligiIzlemeSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DenizKirliligiIzlemeSistemi.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DenizKirliligiIzlemeSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DenizKirliligiIzlemeSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DenizKirliligiIzlemeSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DenizKirliligiIzlemeSistemi]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Akinti_Hizi_Hesaplama]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_Akinti_Hizi_Hesaplama](
@locID int,       
@yonID tinyint    
)
RETURNS DECIMAL(5,2)  
AS
BEGIN
   DECLARE @AkintiHizi DECIMAL(5,2)  

   
   IF @locID = 1 AND @yonID = 1
       SET @AkintiHizi = 2.5;  
   ELSE IF @locID = 1 AND @yonID = 2
       SET @AkintiHizi = 3.0;  
   ELSE IF @locID = 2 AND @yonID = 1
       SET @AkintiHizi = 1.8;  
   ELSE IF @locID = 2 AND @yonID = 2
       SET @AkintiHizi = 2.2;  
   ELSE
       SET @AkintiHizi = 1.5; 
   RETURN @AkintiHizi;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[FN_LokasyonId_Gore_Deger_Hesaplama]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_LokasyonId_Gore_Deger_Hesaplama](
@locID int,@tarih date)
RETURNS DECIMAL(5,2)
AS
BEGIN
   DECLARE @SONUC DECIMAL(5,2)
 IF @locID=14
SET @SONUC=54.25;
 ELSE IF @locID=19
SET @SONUC=64.72;
  ELSE
SET @SONUC=15.75;
RETURN @Sonuc;
END;
GO
/****** Object:  Table [dbo].[Kirlilik_Olaylari]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kirlilik_Olaylari](
	[OlayID] [int] NOT NULL,
	[LokasyonID] [int] NOT NULL,
	[KirlilikID] [int] NOT NULL,
	[Baslangic_Tarihi] [date] NULL,
	[Bitis_Tarihi] [date] NULL,
	[Meydana_Gelis_Yili] [smallint] NULL,
	[SiddetID] [int] NULL,
 CONSTRAINT [PK_Kirlilik_Olaylari_1] PRIMARY KEY CLUSTERED 
(
	[OlayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_YilaGore_KirlilikOlaylari]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_YilaGore_KirlilikOlaylari]
(
    @Yil INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT OlayID, LokasyonID, Baslangic_Tarihi, Bitis_Tarihi, Meydana_Gelis_Yili
    FROM Kirlilik_Olaylari
    WHERE Meydana_Gelis_Yili = @Yil
);
GO
/****** Object:  Table [dbo].[Olcumler]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Olcumler](
	[OlcumID] [int] NOT NULL,
	[LokasyonID] [int] NOT NULL,
	[Deger] [decimal](5, 2) NULL,
	[Tarih] [date] NULL,
	[Kaynak] [varchar](50) NULL,
 CONSTRAINT [PK_Olcumler_1] PRIMARY KEY CLUSTERED 
(
	[LokasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Lokasyona_Gore_OlcumListele]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_Lokasyona_Gore_OlcumListele]
(
    @LokasyonID INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT OlcumID, Deger, Tarih, Kaynak
    FROM Olcumler
    WHERE LokasyonID = @LokasyonID
);
GO
/****** Object:  Table [dbo].[Cevresel_Etkiler]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cevresel_Etkiler](
	[CevreID] [int] IDENTITY(1,1) NOT NULL,
	[KirlilikID] [int] NULL,
	[Etkilenen_Tur] [varchar](100) NULL,
	[Etki_Turu] [varchar](100) NULL,
	[SiddetID] [int] NULL,
 CONSTRAINT [PK_Cevresel_Etkiler] PRIMARY KEY CLUSTERED 
(
	[CevreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deniz_Akintilari]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deniz_Akintilari](
	[AkintiID] [int] IDENTITY(1,1) NOT NULL,
	[LokasyonID] [int] NOT NULL,
	[YonID] [tinyint] NOT NULL,
	[Akinti_Hizi] [decimal](5, 2) NULL,
	[Derinlik] [float] NULL,
 CONSTRAINT [PK_Deniz_Akintilari] PRIMARY KEY CLUSTERED 
(
	[AkintiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Izleme_Cihazlari]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izleme_Cihazlari](
	[CihazID] [int] IDENTITY(1,1) NOT NULL,
	[Cihaz_Adi] [nchar](50) NULL,
	[Durum] [bit] NULL,
	[LokasyonID] [int] NOT NULL,
	[UzmanID] [int] NOT NULL,
 CONSTRAINT [PK_Izleme_Cihazlari] PRIMARY KEY CLUSTERED 
(
	[CihazID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kimyasal_Analizler]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kimyasal_Analizler](
	[AnalizID] [int] IDENTITY(1,1) NOT NULL,
	[OrnekID] [int] NULL,
	[Analiz_Turu] [nchar](50) NULL,
	[OlcumID] [int] NULL,
	[Laboratuvar_Adi] [nvarchar](250) NULL,
 CONSTRAINT [PK_Kimyasal_Analizler] PRIMARY KEY CLUSTERED 
(
	[AnalizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kirlilik_Kaynaklari]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kirlilik_Kaynaklari](
	[KirlilikID] [int] NOT NULL,
	[Kaynak_Adi] [nchar](150) NOT NULL,
 CONSTRAINT [PK_Kirlilik_Kaynaklari] PRIMARY KEY CLUSTERED 
(
	[KirlilikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kirlilik_Olaylari_Yedek]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kirlilik_Olaylari_Yedek](
	[OlayID] [int] NULL,
	[LokasyonID] [int] NULL,
	[KirlilikID] [int] NULL,
	[Baslangic_Tarihi] [date] NULL,
	[Bitis_Tarihi] [date] NULL,
	[Meydana_Gelis_Yili] [smallint] NULL,
	[SiddetID] [int] NULL,
	[Sistem_Tarihi] [datetime] NULL,
	[Kaydi_Atan_Uzman] [nvarchar](100) NULL,
	[SilindiMi] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lokasyonlar]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lokasyonlar](
	[LokasyonID] [int] NOT NULL,
	[YerAdi] [nvarchar](200) NOT NULL,
	[Enlem] [float] NULL,
	[Boylam] [float] NULL,
	[Aciklama] [nvarchar](550) NULL,
 CONSTRAINT [PK_Lokasyonlar] PRIMARY KEY CLUSTERED 
(
	[LokasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meteorolojik_Veriler]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meteorolojik_Veriler](
	[MeterolojikID] [int] IDENTITY(1,1) NOT NULL,
	[LokasyonID] [int] NULL,
	[Sicaklik] [float] NULL,
	[Ruzgar_Hizi] [decimal](3, 1) NULL,
	[YonID] [tinyint] NOT NULL,
	[Hava_Basinci] [decimal](6, 1) NULL,
	[Nem] [tinyint] NULL,
 CONSTRAINT [PK_Meteorolojik_Veriler] PRIMARY KEY CLUSTERED 
(
	[MeterolojikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Olcum_Turleri]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Olcum_Turleri](
	[OlcumID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](150) NULL,
	[Birim] [varchar](50) NULL,
	[Kullanim_Alani] [nchar](100) NULL,
 CONSTRAINT [PK_Olcum_Turleri] PRIMARY KEY CLUSTERED 
(
	[OlcumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ornekler]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ornekler](
	[OrnekID] [int] NOT NULL,
	[LokasyonID] [int] NULL,
	[Ornek_Turu] [nchar](30) NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_Ornekler] PRIMARY KEY CLUSTERED 
(
	[OrnekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raporlar]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raporlar](
	[RaporID] [int] NOT NULL,
	[Rapor_Baslik] [nvarchar](250) NULL,
	[İcerik] [text] NULL,
	[Tarih] [date] NULL,
	[LokasyonID] [int] NOT NULL,
	[UzmanID] [int] NOT NULL,
 CONSTRAINT [PK_Raporlar] PRIMARY KEY CLUSTERED 
(
	[RaporID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siddetler]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siddetler](
	[SiddetID] [int] NOT NULL,
	[Siddet_Seviyesi] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Siddetler] PRIMARY KEY CLUSTERED 
(
	[SiddetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzman_Kadrosu]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzman_Kadrosu](
	[UzmanID] [int] IDENTITY(1,1) NOT NULL,
	[Uzman_Ad] [nvarchar](150) NULL,
	[Uzman_Soyad] [nvarchar](150) NULL,
	[Email] [varchar](255) NULL,
	[Rol] [nchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[UzmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yonler]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yonler](
	[YonID] [tinyint] NOT NULL,
	[Yon_Adi] [nvarchar](20) NULL,
 CONSTRAINT [PK_Yonler] PRIMARY KEY CLUSTERED 
(
	[YonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cevresel_Etkiler] ON 

INSERT [dbo].[Cevresel_Etkiler] ([CevreID], [KirlilikID], [Etkilenen_Tur], [Etki_Turu], [SiddetID]) VALUES (1, 101, N'Kutup Faunası (foklar,deniz kuşları,kutup ayıları)', N'Habitat bozulması ve yaşam alanı kaybı', 3)
INSERT [dbo].[Cevresel_Etkiler] ([CevreID], [KirlilikID], [Etkilenen_Tur], [Etki_Turu], [SiddetID]) VALUES (2, 102, N'Deniz canlıları', N'Toksik kirlenme ve yaşam kaybı', 4)
INSERT [dbo].[Cevresel_Etkiler] ([CevreID], [KirlilikID], [Etkilenen_Tur], [Etki_Turu], [SiddetID]) VALUES (3, 103, N'Deniz canlıları, insanlar', N'Ekosistem tahribatı ve halk sağlığı riski', 3)
SET IDENTITY_INSERT [dbo].[Cevresel_Etkiler] OFF
GO
SET IDENTITY_INSERT [dbo].[Deniz_Akintilari] ON 

INSERT [dbo].[Deniz_Akintilari] ([AkintiID], [LokasyonID], [YonID], [Akinti_Hizi], [Derinlik]) VALUES (1, 1, 4, CAST(2.80 AS Decimal(5, 2)), 650)
INSERT [dbo].[Deniz_Akintilari] ([AkintiID], [LokasyonID], [YonID], [Akinti_Hizi], [Derinlik]) VALUES (2, 2, 7, CAST(6.40 AS Decimal(5, 2)), 450)
INSERT [dbo].[Deniz_Akintilari] ([AkintiID], [LokasyonID], [YonID], [Akinti_Hizi], [Derinlik]) VALUES (3, 3, 8, CAST(6.50 AS Decimal(5, 2)), 345)
SET IDENTITY_INSERT [dbo].[Deniz_Akintilari] OFF
GO
SET IDENTITY_INSERT [dbo].[Izleme_Cihazlari] ON 

INSERT [dbo].[Izleme_Cihazlari] ([CihazID], [Cihaz_Adi], [Durum], [LokasyonID], [UzmanID]) VALUES (1, N'Mikroplastik Dedektörü A1                         ', 1, 1, 1)
INSERT [dbo].[Izleme_Cihazlari] ([CihazID], [Cihaz_Adi], [Durum], [LokasyonID], [UzmanID]) VALUES (2, N'Ağır Metal Sensörü X3                             ', 1, 2, 2)
INSERT [dbo].[Izleme_Cihazlari] ([CihazID], [Cihaz_Adi], [Durum], [LokasyonID], [UzmanID]) VALUES (3, N'Petrol Tespit Cihazı PTC-9                        ', 1, 3, 3)
SET IDENTITY_INSERT [dbo].[Izleme_Cihazlari] OFF
GO
SET IDENTITY_INSERT [dbo].[Kimyasal_Analizler] ON 

INSERT [dbo].[Kimyasal_Analizler] ([AnalizID], [OrnekID], [Analiz_Turu], [OlcumID], [Laboratuvar_Adi]) VALUES (1, 1001, N'Petrol                                            ', 1, N'Norwegian Polar Institute')
INSERT [dbo].[Kimyasal_Analizler] ([AnalizID], [OrnekID], [Analiz_Turu], [OlcumID], [Laboratuvar_Adi]) VALUES (2, 1002, N'Petrol                                            ', 2, N'NOAA Environmental Lab (USA)')
INSERT [dbo].[Kimyasal_Analizler] ([AnalizID], [OrnekID], [Analiz_Turu], [OlcumID], [Laboratuvar_Adi]) VALUES (3, 1003, N'Alg Toksini                                       ', 3, N'Florida Fish and Wildlife Lab')
SET IDENTITY_INSERT [dbo].[Kimyasal_Analizler] OFF
GO
INSERT [dbo].[Kirlilik_Kaynaklari] ([KirlilikID], [Kaynak_Adi]) VALUES (101, N'Kara karbon salınımı ve petrol sızıntısı                                                                                                              ')
INSERT [dbo].[Kirlilik_Kaynaklari] ([KirlilikID], [Kaynak_Adi]) VALUES (102, N'Petrol sızıntısı                                                                                                                                      ')
INSERT [dbo].[Kirlilik_Kaynaklari] ([KirlilikID], [Kaynak_Adi]) VALUES (103, N'Zararlı alg patlamaları                                                                                                                               ')
GO
INSERT [dbo].[Kirlilik_Olaylari] ([OlayID], [LokasyonID], [KirlilikID], [Baslangic_Tarihi], [Bitis_Tarihi], [Meydana_Gelis_Yili], [SiddetID]) VALUES (10101, 1, 101, CAST(N'2012-07-01' AS Date), CAST(N'2015-09-28' AS Date), NULL, 2)
INSERT [dbo].[Kirlilik_Olaylari] ([OlayID], [LokasyonID], [KirlilikID], [Baslangic_Tarihi], [Bitis_Tarihi], [Meydana_Gelis_Yili], [SiddetID]) VALUES (20102, 2, 102, CAST(N'2010-04-20' AS Date), CAST(N'2010-07-15' AS Date), NULL, 4)
INSERT [dbo].[Kirlilik_Olaylari] ([OlayID], [LokasyonID], [KirlilikID], [Baslangic_Tarihi], [Bitis_Tarihi], [Meydana_Gelis_Yili], [SiddetID]) VALUES (30103, 3, 103, CAST(N'2017-07-01' AS Date), CAST(N'2019-01-01' AS Date), NULL, 3)
GO
INSERT [dbo].[Lokasyonlar] ([LokasyonID], [YerAdi], [Enlem], [Boylam], [Aciklama]) VALUES (1, N'Arktik', 66, 0, N'Soğuk su koşullarında kara karbon salınımı ve petrol sızıntısı müdahalesine ilişkin zorlukların izlendiği kritik bölgedir.')
INSERT [dbo].[Lokasyonlar] ([LokasyonID], [YerAdi], [Enlem], [Boylam], [Aciklama]) VALUES (2, N'Lousiana', 28738, 88381, N'Deepwater Horizon felaketi, 2010 yılında Louisiana açıklarında yaşanan, büyük bir petrol sızıntısına ve çevresel felakete yol açan açık deniz sondaj kazasıdır.')
INSERT [dbo].[Lokasyonlar] ([LokasyonID], [YerAdi], [Enlem], [Boylam], [Aciklama]) VALUES (3, N'Florida', 27994402, 81760254, N'Güneybatı Florida''da zararlı alg patlamaları, deniz ekosistemini tehdit eden ve bölgedeki plajları, deniz canlılarını ve halk sağlığını olumsuz etkileyen çevresel krizlere yol açmaktadır.')
GO
SET IDENTITY_INSERT [dbo].[Meteorolojik_Veriler] ON 

INSERT [dbo].[Meteorolojik_Veriler] ([MeterolojikID], [LokasyonID], [Sicaklik], [Ruzgar_Hizi], [YonID], [Hava_Basinci], [Nem]) VALUES (1, 1, -1.38, CAST(26.7 AS Decimal(3, 1)), 1, CAST(1014.6 AS Decimal(6, 1)), 82)
INSERT [dbo].[Meteorolojik_Veriler] ([MeterolojikID], [LokasyonID], [Sicaklik], [Ruzgar_Hizi], [YonID], [Hava_Basinci], [Nem]) VALUES (2, 2, 28.3, CAST(9.8 AS Decimal(3, 1)), 5, CAST(1012.3 AS Decimal(6, 1)), 0)
INSERT [dbo].[Meteorolojik_Veriler] ([MeterolojikID], [LokasyonID], [Sicaklik], [Ruzgar_Hizi], [YonID], [Hava_Basinci], [Nem]) VALUES (3, 3, 27, CAST(15.0 AS Decimal(3, 1)), 6, CAST(1015.0 AS Decimal(6, 1)), 65)
SET IDENTITY_INSERT [dbo].[Meteorolojik_Veriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Olcum_Turleri] ON 

INSERT [dbo].[Olcum_Turleri] ([OlcumID], [Ad], [Birim], [Kullanim_Alani]) VALUES (1, N'miligram', N'mg/L', N'Sıvı ortamlarda kirletici konsantrasyonu ölçümünde kullanılır.                                      ')
INSERT [dbo].[Olcum_Turleri] ([OlcumID], [Ad], [Birim], [Kullanim_Alani]) VALUES (2, N'Parts per million', N'ppm', N'Kimyasal kirleticiler için kullanılır.                                                              ')
INSERT [dbo].[Olcum_Turleri] ([OlcumID], [Ad], [Birim], [Kullanim_Alani]) VALUES (3, N'Mikrogram / Litre', N'µg/L', N'Çok düşük konsantrasyonlarda çözünmüş madde analizleri için.                                        ')
SET IDENTITY_INSERT [dbo].[Olcum_Turleri] OFF
GO
INSERT [dbo].[Olcumler] ([OlcumID], [LokasyonID], [Deger], [Tarih], [Kaynak]) VALUES (1, 1, CAST(98.41 AS Decimal(5, 2)), CAST(N'2013-12-06' AS Date), N'Arazi Gözlemi')
INSERT [dbo].[Olcumler] ([OlcumID], [LokasyonID], [Deger], [Tarih], [Kaynak]) VALUES (2, 2, CAST(27.27 AS Decimal(5, 2)), CAST(N'2011-04-17' AS Date), N'Uydu Verisi')
INSERT [dbo].[Olcumler] ([OlcumID], [LokasyonID], [Deger], [Tarih], [Kaynak]) VALUES (3, 3, CAST(27.20 AS Decimal(5, 2)), CAST(N'2018-10-11' AS Date), N'Laboratuvar Paporu')
GO
INSERT [dbo].[Ornekler] ([OrnekID], [LokasyonID], [Ornek_Turu], [Tarih]) VALUES (1001, 1, N'Sediman                       ', CAST(N'2013-12-06' AS Date))
INSERT [dbo].[Ornekler] ([OrnekID], [LokasyonID], [Ornek_Turu], [Tarih]) VALUES (1002, 2, N'Su                            ', CAST(N'2011-04-17' AS Date))
INSERT [dbo].[Ornekler] ([OrnekID], [LokasyonID], [Ornek_Turu], [Tarih]) VALUES (1003, 3, N'Plastik                       ', CAST(N'2018-10-11' AS Date))
GO
INSERT [dbo].[Raporlar] ([RaporID], [Rapor_Baslik], [İcerik], [Tarih], [LokasyonID], [UzmanID]) VALUES (101965, N'Sarı Deniz''de Ağır Metal Kirliliği', N'Cd ve Mn kirliliği, endüstriyel atıklar, tarım ve altyapı eksiklikleri nedeniyle özellikle yaz aylarında artmaktadır.', CAST(N'1970-01-15' AS Date), 23, 23)
INSERT [dbo].[Raporlar] ([RaporID], [Rapor_Baslik], [İcerik], [Tarih], [LokasyonID], [UzmanID]) VALUES (101970, N'Baltık Denizi''nde Endüstriyel Kirlilik', N'İsveç ve Finlandiya’daki kâğıt fabrikalarından yayılan zehirli klorlu bileşikler, Baltık Denizi’ni kirletmiş ve tortullarda kalıcı kirliliğe yol açmıştır.', CAST(N'1980-03-29' AS Date), 16, 16)
INSERT [dbo].[Raporlar] ([RaporID], [Rapor_Baslik], [İcerik], [Tarih], [LokasyonID], [UzmanID]) VALUES (101971, N'Nemrut Körfezi''nde Ağır Metal Kirliliği', N'Sediman analizlerinde Hg, Pb, Zn ve As gibi ağır metaller tespit edilmiştir; kirlilik seviyesi diğer körfezlerle karşılaştırıldığında yüksektir.', CAST(N'1980-12-01' AS Date), 25, 25)
GO
INSERT [dbo].[Siddetler] ([SiddetID], [Siddet_Seviyesi]) VALUES (1, N'Düşük          ')
INSERT [dbo].[Siddetler] ([SiddetID], [Siddet_Seviyesi]) VALUES (2, N'Orta           ')
INSERT [dbo].[Siddetler] ([SiddetID], [Siddet_Seviyesi]) VALUES (3, N'Yüksek         ')
GO
SET IDENTITY_INSERT [dbo].[Uzman_Kadrosu] ON 

INSERT [dbo].[Uzman_Kadrosu] ([UzmanID], [Uzman_Ad], [Uzman_Soyad], [Email], [Rol]) VALUES (1, N'Oliver', N'Smith', N'oliver.smith@hotmail.com', N'Saha Araştırmacısı                                ')
INSERT [dbo].[Uzman_Kadrosu] ([UzmanID], [Uzman_Ad], [Uzman_Soyad], [Email], [Rol]) VALUES (2, N'Emma', N'Johnson', N'emma.johnson@hotmail.com  ', N'Kıdemli Analist                                   ')
INSERT [dbo].[Uzman_Kadrosu] ([UzmanID], [Uzman_Ad], [Uzman_Soyad], [Email], [Rol]) VALUES (3, N'Liam', N'Williams', N'liam.williams@hotmail.com', N'Veri Değerlendirme Uzmanı                         ')
SET IDENTITY_INSERT [dbo].[Uzman_Kadrosu] OFF
GO
INSERT [dbo].[Yonler] ([YonID], [Yon_Adi]) VALUES (1, N'Kuzey')
INSERT [dbo].[Yonler] ([YonID], [Yon_Adi]) VALUES (2, N'Kuzeydoğu')
INSERT [dbo].[Yonler] ([YonID], [Yon_Adi]) VALUES (3, N'Kuzeybatı')
GO
/****** Object:  Index [IX_Kirlilik_Olaylari]    Script Date: 3.05.2025 08:35:08 ******/
ALTER TABLE [dbo].[Kirlilik_Olaylari] ADD  CONSTRAINT [IX_Kirlilik_Olaylari] UNIQUE NONCLUSTERED 
(
	[OlayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kirlilik_Olaylari_Yedek] ADD  DEFAULT (getdate()) FOR [Sistem_Tarihi]
GO
ALTER TABLE [dbo].[Kirlilik_Olaylari_Yedek] ADD  DEFAULT (suser_sname()) FOR [Kaydi_Atan_Uzman]
GO
ALTER TABLE [dbo].[Kirlilik_Olaylari_Yedek] ADD  DEFAULT ((0)) FOR [SilindiMi]
GO
ALTER TABLE [dbo].[Cevresel_Etkiler]  WITH CHECK ADD  CONSTRAINT [FK_Cevresel_Etkiler_Kirlilik_Kaynaklari] FOREIGN KEY([KirlilikID])
REFERENCES [dbo].[Kirlilik_Kaynaklari] ([KirlilikID])
GO
ALTER TABLE [dbo].[Cevresel_Etkiler] CHECK CONSTRAINT [FK_Cevresel_Etkiler_Kirlilik_Kaynaklari]
GO
ALTER TABLE [dbo].[Cevresel_Etkiler]  WITH CHECK ADD  CONSTRAINT [FK_Cevresel_Etkiler_Siddetler] FOREIGN KEY([SiddetID])
REFERENCES [dbo].[Siddetler] ([SiddetID])
GO
ALTER TABLE [dbo].[Cevresel_Etkiler] CHECK CONSTRAINT [FK_Cevresel_Etkiler_Siddetler]
GO
ALTER TABLE [dbo].[Deniz_Akintilari]  WITH CHECK ADD  CONSTRAINT [FK_Deniz_Akintilari_Lokasyonlar] FOREIGN KEY([LokasyonID])
REFERENCES [dbo].[Lokasyonlar] ([LokasyonID])
GO
ALTER TABLE [dbo].[Deniz_Akintilari] CHECK CONSTRAINT [FK_Deniz_Akintilari_Lokasyonlar]
GO
ALTER TABLE [dbo].[Deniz_Akintilari]  WITH CHECK ADD  CONSTRAINT [FK_Deniz_Akintilari_Yonler] FOREIGN KEY([YonID])
REFERENCES [dbo].[Yonler] ([YonID])
GO
ALTER TABLE [dbo].[Deniz_Akintilari] CHECK CONSTRAINT [FK_Deniz_Akintilari_Yonler]
GO
ALTER TABLE [dbo].[Izleme_Cihazlari]  WITH CHECK ADD  CONSTRAINT [FK_Izleme_Cihazlari_Izleme_Cihazlari] FOREIGN KEY([CihazID])
REFERENCES [dbo].[Izleme_Cihazlari] ([CihazID])
GO
ALTER TABLE [dbo].[Izleme_Cihazlari] CHECK CONSTRAINT [FK_Izleme_Cihazlari_Izleme_Cihazlari]
GO
ALTER TABLE [dbo].[Izleme_Cihazlari]  WITH CHECK ADD  CONSTRAINT [FK_Izleme_Cihazlari_Lokasyonlar] FOREIGN KEY([LokasyonID])
REFERENCES [dbo].[Lokasyonlar] ([LokasyonID])
GO
ALTER TABLE [dbo].[Izleme_Cihazlari] CHECK CONSTRAINT [FK_Izleme_Cihazlari_Lokasyonlar]
GO
ALTER TABLE [dbo].[Izleme_Cihazlari]  WITH CHECK ADD  CONSTRAINT [FK_Izleme_Cihazlari_Uzman_Kadrosu] FOREIGN KEY([UzmanID])
REFERENCES [dbo].[Uzman_Kadrosu] ([UzmanID])
GO
ALTER TABLE [dbo].[Izleme_Cihazlari] CHECK CONSTRAINT [FK_Izleme_Cihazlari_Uzman_Kadrosu]
GO
ALTER TABLE [dbo].[Kimyasal_Analizler]  WITH CHECK ADD  CONSTRAINT [FK_Kimyasal_Analizler_Olcum_Turleri] FOREIGN KEY([OlcumID])
REFERENCES [dbo].[Olcum_Turleri] ([OlcumID])
GO
ALTER TABLE [dbo].[Kimyasal_Analizler] CHECK CONSTRAINT [FK_Kimyasal_Analizler_Olcum_Turleri]
GO
ALTER TABLE [dbo].[Kimyasal_Analizler]  WITH CHECK ADD  CONSTRAINT [FK_Kimyasal_Analizler_Ornekler] FOREIGN KEY([OrnekID])
REFERENCES [dbo].[Ornekler] ([OrnekID])
GO
ALTER TABLE [dbo].[Kimyasal_Analizler] CHECK CONSTRAINT [FK_Kimyasal_Analizler_Ornekler]
GO
ALTER TABLE [dbo].[Kirlilik_Olaylari]  WITH CHECK ADD  CONSTRAINT [FK_Kirlilik_Olaylari_Kirlilik_Kaynaklari] FOREIGN KEY([KirlilikID])
REFERENCES [dbo].[Kirlilik_Kaynaklari] ([KirlilikID])
GO
ALTER TABLE [dbo].[Kirlilik_Olaylari] CHECK CONSTRAINT [FK_Kirlilik_Olaylari_Kirlilik_Kaynaklari]
GO
ALTER TABLE [dbo].[Kirlilik_Olaylari]  WITH CHECK ADD  CONSTRAINT [FK_Kirlilik_Olaylari_Lokasyonlar] FOREIGN KEY([LokasyonID])
REFERENCES [dbo].[Lokasyonlar] ([LokasyonID])
GO
ALTER TABLE [dbo].[Kirlilik_Olaylari] CHECK CONSTRAINT [FK_Kirlilik_Olaylari_Lokasyonlar]
GO
ALTER TABLE [dbo].[Kirlilik_Olaylari]  WITH CHECK ADD  CONSTRAINT [FK_Kirlilik_Olaylari_Siddetler] FOREIGN KEY([SiddetID])
REFERENCES [dbo].[Siddetler] ([SiddetID])
GO
ALTER TABLE [dbo].[Kirlilik_Olaylari] CHECK CONSTRAINT [FK_Kirlilik_Olaylari_Siddetler]
GO
ALTER TABLE [dbo].[Meteorolojik_Veriler]  WITH CHECK ADD  CONSTRAINT [FK_Meteorolojik_Veriler_Lokasyonlar] FOREIGN KEY([LokasyonID])
REFERENCES [dbo].[Lokasyonlar] ([LokasyonID])
GO
ALTER TABLE [dbo].[Meteorolojik_Veriler] CHECK CONSTRAINT [FK_Meteorolojik_Veriler_Lokasyonlar]
GO
ALTER TABLE [dbo].[Meteorolojik_Veriler]  WITH CHECK ADD  CONSTRAINT [FK_Meteorolojik_Veriler_Yonler] FOREIGN KEY([YonID])
REFERENCES [dbo].[Yonler] ([YonID])
GO
ALTER TABLE [dbo].[Meteorolojik_Veriler] CHECK CONSTRAINT [FK_Meteorolojik_Veriler_Yonler]
GO
ALTER TABLE [dbo].[Olcumler]  WITH CHECK ADD  CONSTRAINT [FK_Olcumler_Lokasyonlar] FOREIGN KEY([LokasyonID])
REFERENCES [dbo].[Lokasyonlar] ([LokasyonID])
GO
ALTER TABLE [dbo].[Olcumler] CHECK CONSTRAINT [FK_Olcumler_Lokasyonlar]
GO
ALTER TABLE [dbo].[Olcumler]  WITH CHECK ADD  CONSTRAINT [FK_Olcumler_Olcum_Turleri] FOREIGN KEY([OlcumID])
REFERENCES [dbo].[Olcum_Turleri] ([OlcumID])
GO
ALTER TABLE [dbo].[Olcumler] CHECK CONSTRAINT [FK_Olcumler_Olcum_Turleri]
GO
ALTER TABLE [dbo].[Ornekler]  WITH CHECK ADD  CONSTRAINT [FK_Ornekler_Lokasyonlar] FOREIGN KEY([LokasyonID])
REFERENCES [dbo].[Lokasyonlar] ([LokasyonID])
GO
ALTER TABLE [dbo].[Ornekler] CHECK CONSTRAINT [FK_Ornekler_Lokasyonlar]
GO
ALTER TABLE [dbo].[Raporlar]  WITH CHECK ADD  CONSTRAINT [FK_Raporlar_Lokasyonlar] FOREIGN KEY([LokasyonID])
REFERENCES [dbo].[Lokasyonlar] ([LokasyonID])
GO
ALTER TABLE [dbo].[Raporlar] CHECK CONSTRAINT [FK_Raporlar_Lokasyonlar]
GO
ALTER TABLE [dbo].[Raporlar]  WITH CHECK ADD  CONSTRAINT [FK_Raporlar_Raporlar] FOREIGN KEY([RaporID])
REFERENCES [dbo].[Raporlar] ([RaporID])
GO
ALTER TABLE [dbo].[Raporlar] CHECK CONSTRAINT [FK_Raporlar_Raporlar]
GO
ALTER TABLE [dbo].[Raporlar]  WITH CHECK ADD  CONSTRAINT [FK_Raporlar_Uzman_Kadrosu] FOREIGN KEY([UzmanID])
REFERENCES [dbo].[Uzman_Kadrosu] ([UzmanID])
GO
ALTER TABLE [dbo].[Raporlar] CHECK CONSTRAINT [FK_Raporlar_Uzman_Kadrosu]
GO
ALTER TABLE [dbo].[Siddetler]  WITH CHECK ADD  CONSTRAINT [CK_Siddetler] CHECK  (([SiddetID]='1' OR [SiddetID]='2' OR [SiddetID]='3' OR [SiddetID]='3' OR [SiddetID]='4'))
GO
ALTER TABLE [dbo].[Siddetler] CHECK CONSTRAINT [CK_Siddetler]
GO
/****** Object:  StoredProcedure [dbo].[SP_KIRLILIK_OLAYI_EKLEME]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KIRLILIK_OLAYI_EKLEME]
@ID int,
@locID int,
@polID int,
@bas_tarihi date=NULL,
@bitis_tarihi date=NULL,
@yil smallint=NULL,
@siddetID int=NULL
AS
BEGIN
INSERT INTO Kirlilik_Olaylari(
         OlayID,LokasyonID,KirlilikID,
		 Baslangic_Tarihi,Bitis_Tarihi,
		 Meydana_Gelis_Yili,SiddetID)
	  VALUES (
	  @ID,@locID,@polID,
	  @bas_tarihi,@bitis_tarihi,
	  @yil,@siddetID);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Kirlilik_Olayi_Guncelleme]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Kirlilik_Olayi_Guncelleme] 
   	  @ID INT,
    @locID INT,
    @polID INT,
    @bas_tarihi DATE = NULL,
    @bitis_tarihi DATE = NULL,
    @yil SMALLINT = NULL,
    @siddetID INT = NULL
AS
BEGIN
    UPDATE Kirlilik_Olaylari
SET
     LokasyonID=@locID,
	 KirlilikID=@polID,
	 Baslangic_Tarihi=@bas_tarihi,
	 Bitis_Tarihi=@bitis_tarihi,
	 Meydana_Gelis_Yili=@yil,
	 SiddetID=@siddetID
WHERE OlayID=@ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Kirlilik_Olayi_Silme]    Script Date: 3.05.2025 08:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Kirlilik_Olayi_Silme]
    @OlayID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 1. Önce ilgili kaydın var olup olmadığını kontrol et
        IF NOT EXISTS (SELECT 1 FROM Kirlilik_Olaylari WHERE OlayID = @OlayID)
        BEGIN
            RAISERROR('Hata: Silinecek kayıt bulunamadı (OlayID: %d)', 16, 1, @OlayID);
            RETURN -1; -- Hata kodu döndür
        END
        
        -- 2. Bağımlı kayıt kontrolü (örneğin log tablosu varsa)
        /*
        IF EXISTS (SELECT 1 FROM Kirlilik_Loglari WHERE OlayID = @OlayID)
        BEGIN
            RAISERROR('Hata: Bu kaydın bağlantılı log kayıtları var', 16, 1);
            RETURN -2;
        END
        */
        
        -- 3. Kaydı silme işlemi
        DELETE FROM Kirlilik_Olaylari 
        WHERE OlayID = @OlayID;
        
        -- 4. İşlemi onayla
        COMMIT TRANSACTION;
        
        -- 5. Başarı mesajı
        SELECT 
            'Başarılı' AS Durum,
            'Kayıt başarıyla silindi' AS Mesaj,
            @OlayID AS SilinenOlayID;
            
        RETURN 0; -- Başarı kodu
    END TRY
    BEGIN CATCH
        -- Hata durumunda
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- Detaylı hata mesajı
        SELECT 
            'Hata' AS Durum,
            'Kayıt silinemedi: ' + ERROR_MESSAGE() AS Mesaj,
            ERROR_NUMBER() AS HataKodu,
            @OlayID AS OlayID;
            
        RETURN -99; -- Kritik hata kodu
    END CATCH
END;
GO
USE [master]
GO
